
@media screen and (min-height : 700px)
{
  .mainheading > h4
  {
    font-size: 20px !important;
  }
  .mainheading > h5
  {
    font-size: 19px !important;
  }
  .forminput > h5 {
    font-size: 18px !important;
    }
    .radioinput>span {
        font-size: 18px;
    }
.formwaterpump>h5
{
    font-size: 18px;

}
.buttons
{
    margin-top: 30px !important;
    margin-bottom: 30px;
}
.buttons > button
{
    font-size: 18px;

}
}
* 
{
    margin: 0;
    padding: 0;
    
}
body
{
    font-family: 'Roboto', sans-serif;
    /* height: 10vw; */
    background-color: rgb(237, 252, 252);
    
}

.productmain {
    width: 100%;
    position: absolute;
    height: 100%; 
    background-repeat: no-repeat;
 }

.mainheading {
    padding: 5px;
    background-color: #1DA1F2;
    color: rgb(231, 229, 229);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
    opacity: 0.9;
    box-shadow: 0 2px 10px rgb(105, 105, 105);

}

.mainheading>h4 {
    line-height: 23px !important;
}

.category_heading {
    color: grey;
}

.category_heading>h5 {
    font-weight: 800 !important;
    font-size: 21px !important;
    margin-bottom: 10px;
    text-align: center;
}

.categoryinfo 
{
    margin-bottom:  30px !important;
    margin-top: 15px !important;
}

.list-group
{
    box-shadow: 0 0.5px 2px rgb(71, 71, 73);
    /* align-items: center; */
    align-content: center;
    /* background-color: blue !important; */
}

.list-group > a
{
    text-align: center;
    font-weight: 600;
}
.forminput
{
    display: flex;
    width: 100%;
    padding: 10px 0 10px 0;
    
    align-items: center;
    border-bottom: 1px solid black;

}

.formradio
{
    border-bottom: 1px solid black;
}
.formradio>h4
{
    /* text-align: center; */
}
.radioinput
{
    /* justify-content: space-evenly; */
    /* text-align: center; */
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.radioinput>input
{
    position: absolute;
    right: 10px;
    margin-right: 30px;
    width: 20px;
    height: 20px;
}
.radioinput>span
{
    margin-bottom: 10px;
}


/* #rdbtn1
{
    margin-left: 54px;
} */
.forminput > h5
{
    font-weight: 500;
    font-size: 16px;
    width: 80%;
    display: flex;
    word-wrap: break-word;
}

.forminput > .input-suffix>h6
{
 
right: 10px;
    
}

.forminput > .input-suffix>input
{
    padding: 5px 5px 5px 5px;
        width: 80%;
        left: 10px;
    /* height: 5vh; */
   position: relative;
   left: 17px;
    border: 1.5px solid maroon;
    border-radius: 0px;
    margin-left: -25px;

}
.forminput > .input-suffix
{
    position: relative;
    display: table;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

.formwaterpump
{
    display: flex;
    width: 100%;
    padding: 5px;
    align-items: center;
    border-bottom: 1px solid black;
}


.formwaterpump >select
{
    position: relative;
    padding: 8px;
    width: 45%;
    /* height: 5vh; */
   /* place-content: center; */
   float: right;
    display: flex;
    
    border: 1.5px solid maroon;
     border-radius: 0px;

}
input[type="number"]::placeholder {  
                  
    /* Firefox, Chrome, Opera */ 
    text-align: center; 
}

.buttons
{
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.buttons > button
{
    /* background-color: red !important; */
}

#clearbtn
{
    background-color: red !important;
    color: white !important;
}

#searchbtn
{
    background-color: #1DA1F2 !important;
    color: white !important;
}

.fullname_input
{
    display: flex;
}

.name_prefix
{
    flex: 0.2;
}

.name_text
{
    flex: 0.8;
}

.mobilenumber_input
{
    display: flex;
    align-items: center;
}

.number_prefix
{
    background-color: grey;
    color: white;
    padding: 8.5px;
    border: 1px solid white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}